.container-about {
  background-color: #333;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.titleAbout {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.mainText {
  max-width: 800px;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 1.8;
  margin-bottom: 30px;
  text-align: center;
}

.audio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2em;
}

.audio-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.audio-player audio {
  width: 100%;
  margin-bottom: 10px;
}

.audio-image {
  width: 100%;
  height: auto;
  border-radius: 6px;
}
