.renting-page {
  background-color: #000;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-left: 120px;
  padding-right: 120px;
}

.title-container {
  text-align: center;
  margin-bottom: 40px;
}

.titleRenting {
  font-size: 36px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
}

.booking-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.booking-form,
.personal-form {
  flex-basis: 48%;
}

.booking-form label,
.personal-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.booking-form select,
.booking-form input[type="date"],
.booking-form input[type="number"],
.personal-form input[type="email"],
.personal-form input[type="tel"],
.personal-form input[type="text"] {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
}

.booking-form select:focus,
.booking-form input[type="date"]:focus,
.booking-form input[type="number"]:focus,
.personal-form input[type="email"]:focus,
.personal-form input[type="tel"]:focus,
.personal-form input[type="text"]:focus {
  outline: none;
  
}

.booking-form button,
#confirmation {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #039b21;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.booking-form button:hover,
#confirmation:hover {
  background-color: #006314;
}

.price-display {
  text-align: center;
  margin-top: 20px;
}

.price-display h3 {
  font-size: 20px;
}

.confirmation-block {
  text-align: center;
  margin-top: 40px;
}

.confirmation-message {
  font-size: 20px;
  font-weight: bold;
}

